{{!< default}}
{{> post-header}}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <main class="main_fox" role="main">
                {{#post}}
                    <article class="article_fox" role="article" itemscope itemtype="http://schema.org/Article">
                    <div class="postcontent_fox" itemprop="articleBody">
                        {{content}}
                    </div>
                    </article>
                {{/post}}
                {{#if pagination}}
                    <div class="pagination_fox">
                        {{{pagination}}}
                    </div>
                {{/if}}
            </main>
        </div>
    </div>
</div>
<hr class="endpost_fox">
{{> footer}}