@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

$background: #F0F0F0;
$sans-font: 'Source Sans Pro', sans-serif;
$serif-font: 'Merriweather', serif;
$sans-weight: 300;
$sans-weight-bold: 700;
$serif-weight: 300;

body {
	background-color: $background;
	padding-top: 50px;
	font-family: $sans-font;
	font-family: $sans-weight;
}

a:hover { 
	text-decoration: none;
}

.nav-header {
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 99999;
}

.head {
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 99999;
}

#navbar-fox {
	margin: 0px;
	border: 0px;
	.navbar-toggle {
		border: 1px solid #777777;
		.icon-bar {
			background-color: #777777;
		}
	}
	.icon-bar {
		background-color: white
	}
	a {
		color: white;
	}

	font-family: $sans-font;
	font-weight: $sans-weight-bold;
}

.navbar-not-top {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.navbar-not-brand {
	color: $navbar-inverse-color !important;
}

.navbar-not-link {
	color: $navbar-inverse-link-color !important;
}

.navbar-top {
	-webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	background-color: transparent !important;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}


.nav-up {
    top: -50px;
}

.image-header {
	margin-top: -50px;
	margin-bottom: 50px;

	@media (max-width: $screen-xs-max) {
		margin-bottom: 0px;
	}

	background-color: gray;
	background: no-repeat center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.header-text {
		padding: 150px 0px 150px 0px;
		@media (max-width: $screen-xs-max) {
			padding: 55px 0px 15px 0px;
		}
		color: white;
		hr {
			max-width: 100px;
			margin: 15px auto;
			border-width: 4px;
			border-color: white;
		}
		.header-title {
			text-align: left;
			margin: 0px;
			font-size: 70px;
			font-family: $sans-font;
			font-weight: $sans-weight-bold;
		}
		.header-subtitle {
			text-align: left;
			padding: 5px 0px 0px 0px;
			font-family: $serif-font;
			font-weight: $serif-weight;
		}
	}
}

.image-header-post {
	margin-top: -50px;
	margin-bottom: 25px;

	@media (max-width: $screen-xs-max) {
		margin-bottom: 0px;
	}

	background-color: gray;
	background: no-repeat center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.header-text {
		padding: 100px 0px 100px 0px;
		@media (max-width: $screen-xs-max) {
			padding: 60px 0px 15px 0px;
		}
		color: white;
		hr {
			max-width: 100px;
			margin: 15px auto;
			border-width: 4px;
			border-color: white;
		}
		.post-title {
			text-align: left;
			margin: 0px;
			font-size: 70px;
			@media (max-width: $screen-xs-max) { font-size: 50px; }
			font-family: $sans-font;
			font-weight: $sans-weight-bold;
		}
		.post-subtitle {
			text-align: left;
			padding: 0px 0px 0px 0px;
			font-family: $serif-font;
			font-weight: $serif-weight;
			a {
				color: white;
			}
			a:hover {
				color: $link-hover-color;
			}
		}
	}
}



.posttitle_fox {
	font-family: $sans-font;
	font-weight: $sans-weight-bold;
	font-size: 36px;
	a { color: #333333 }
	a:hover { 
		color: $link-hover-color;
		text-decoration: none;
	}
}

.postexcerpt_fox {
	font-family: $sans-font;;
	font-weight: $serif-weight;
	font-size: 24px;
}

.postcontent_fox {
	font-family: $serif-font;
	font-weight: $serif-weight;
	font-size: 18px;
}

.main_fox {

img {
	width: 100%;
}
	hr {
		background-color: #AAA;
		height: 1px;
	}
	.article_fox {
		margin: 25px 0px 25px 0px;
		.postheader_fox {
			margin: 10px 0px 10px 0px;
		}
		.posttitle_fox {
			margin: 10px 0px 10px 0px;
		}
		.date_and_tags_fox {
			font-family: 'Merriweather', serif;
			font-style: italic;
			font-weight: 300;
			margin: 10px 0px 10px 0px;
			font-size: 16px;
			color: gray;
		}
	}
	.posttags_fox {
		a {
			padding: 3px 6px 3px 6px;
			background-color: lighten($background, 4%);
			color: $link-color;
		}
		a:hover {
			color: $link-hover-color;
			text-decoration: none;
		}
	}
}

.endpost_fox {
	background-color: #AAA;
	height: 1px;
}

.subscribe_fox {
	text-align: center;
	padding: 0px 0px 20px 0px;
	.icon_fox {
		padding: 0px 5px 0px 5px;
		text-shadow: 1px 1px 1px #ccc;
	}
	$subscribe_padding: 12px;
	.fa-rss {
		background-color: $link-color;
		padding: $subscribe_padding;
	}
	.fa-envelope {
		background-color: $link-color;
		padding: $subscribe_padding;
	}
	.fa-twitter-fox {
		background-color: $link-color;
		padding: $subscribe_padding;
	}
	.fa-github-fox {
		background-color: $link-color;
		padding: $subscribe_padding;
	}
}

.pagination_fox {
	.older-posts {
		border-radius: 0px;
		color: #333333;
	}
	.newer-posts {
		border-radius: 0px;
		color: #333333;
	}
}

.footer-greeting {
	margin-top: 0px;
}

.footertext_fox {
	text-align: center;
	padding: 0px 0px 20px 0px;
}

.fa-twitter-fox {
	@extend .fa-twitter;
}

.fa-github-fox {
	@extend .fa-github;
}